* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* headr section*/
header {
    width: 100%;
   background-image: url("./image/blue.jpeg");
    padding: 25px;
    position: absolute;
    top: 0;
   
}

header a {
    text-decoration: none;
    margin-right: 100px;
    letter-spacing: 1px;
    font-family: fantasy;
    color: rgba(255, 255, 255, 0.719);
    font-size: 20px;
    font-weight: bold;
}

/* banner end*/
.banner-Container {
    margin-top: 58px;
    width: 100%;
    height: 88vh;
    background-image: url("./image/blue.jpeg");
    border-radius: 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.left-section h1 {
    margin: 0;
    font-size: 40px;
    color: white;
}

.banner-Container .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 209px;
    align-items: center;
  

}

.left-section p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(155, 255, 255.0.884);
    margin-top: 20px;
    line-height: 28px;
   
}

.left-section {
    width: 600px;
    align-self: flex-start;
}

.left-section button {
    color: rgb(26, 46, 226);
    border: none;
    background-color: white;
    font-size: 15px;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 6px;
    font-weight: bold;
    cursor: pointer;
}

/* righht section start */
.rightsecton {
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 40px 0;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .219);

}

.rightsecton h4 {
    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(136, 136, 136);
}
.input-group{
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-group label{
    color: rgb(165,165,165);
    font-size: 14px;
    position: absolute;
    top: 10px;
    transition: 0.5s ease-in-out;
}
.input-group input{
    border: none;
    padding: 7px;
    outline: none;
    margin-top: 5px;
    border-bottom: 1px solid #c9c9c9;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label{
    color: blue;
    top: -10px;
    font-size: 12px;
}
.submit{
    background-color: blue;
    color: beige;
    border: none;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
    font-size: 15px;

}
.submit-button{
    text-align: center;
  
}
.section-two{
    display: flex;
    justify-content: space-evenly;
    height: 72vh;
    align-items: center;
    align-self: flex-start;
}
.image-container{
   
    height: 450px;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
transition: 0.5s ease-in-out;
    object-fit: cover;
}
.card-container h1{
    color: rgb(136, 136, 136)
}
.card-container{
    width: 350px;
    border-radius: 25px;
    box-shadow: 10px 5px 26px rgb(87, 84, 84);
    text-align: center;
    margin-top: 36px;
}
.image-container img:hover{
    transform: scale(1.1) rotate(-5deg);
}.footer{
    text-align: center;
    background-color: blue;
    color: white;
    margin-top: 1px;
    width: 100%;
    height: 81px;
    font-size: 37px;
    padding-top: 18px;
    font-weight: bold;
}
